* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.site {
  width: auto;
}
.site .navbar {
  width: 100%;
  padding: 20px;
  position: fixed;
  background-color: rgba(31, 32, 53, 0.514);
  padding-right: 100px;
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.site .navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.site .navbar ul a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}
.site .navbar ul li :hover {
  color: blue;
  transition: all 1.5s;
}
.site .navbar img {
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
.site .header {
  position: relative;
  height: 770px;
  background-image: url("./455904.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.site .header .header__content {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.541);
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: white;
}
.site .header .header__content h1 {
  font-size: 50px;
  font-family: Georgia;
}
.site .header .header__content p {
  width: 450px;
}
.site .header .header__content button {
  width: 150px;
  height: 40px;
  margin-top: 20px;
  border: 2px solid white;
  color: white;
  background: none;
  font-size: 18px;
}
.site .header .header__footer {
  width: 100%;
  padding: 20px;
  position: absolute;
  bottom: 0;
  background-color: rgba(20, 137, 247, 0.558);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.site .header .header__footer .box {
  color: white;
  display: flex;
  gap: 20px;
}
.site .header .header__footer .box:nth-child(2) {
  margin-left: 50px;
  margin-right: 50px;
}
.site .header .header__footer .box i {
  color: black;
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
}
.site .header .header__footer .box .mini__box {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: start;
  flex-direction: column;
  gap: 5px;
}
.site .banner {
  width: 100%;
  padding: 50px;
  text-align: center;
  font-size: 30px;
}
.site .banner .banner__content {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.site .banner .banner__content .banner__content__main {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  align-items: center;
}
.site .banner .banner__content .banner__content__main h2,
.site .banner .banner__content .banner__content__main h3 {
  font-size: 30px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 20px;
}
.site .banner .banner__content .banner__content__main h3 {
  margin-bottom: 20px;
}
.site .banner .banner__content .banner__content__main .p {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.site .banner .banner__content .banner__content__main .p p {
  border: none;
}
.site .banner .banner__content .banner__content__main .p span {
  color: rgb(41, 111, 240);
}
.site .banner .banner__content .banner__content__main p {
  color: rgb(92, 88, 88);
  border-left: 5px solid blue;
  padding-left: 10px;
  font-size: 20px;
  font-family: cursive;
}
.site .banner .banner__content button {
  font-size: 20px;
  padding: 8px 12px;
  margin-top: 20px;
  border: none;
  background-color: rgb(29, 103, 239);
  color: white;
}
.site .across {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./bg.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site .across .across__box .across__mini {
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=style.css.map */